In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
file_path = r"C:\Users\Mohamed\Downloads\archive\Riyadh_Hotels.xlsx"
Data = pd.read_excel(file_path, engine="openpyxl")
Data

,hotel_id,hotel_name,SOURCE,price,base_price,checkIn,checkOut,count,rating,Info,latitude,longitude
0,15215188,Fairmont Riyadh,all.accor.com,1605.00,NaN,2025-01-02,2025-01-03,220,4.5,NaN,24.808397,46.718050
1,9702375,Rosh Rayhaan by Rotana,Official Site,813.75,693.75,2025-01-02,2025-01-03,1311,4.5,"['Free breakfast available', 'Free cancellation']",24.700346,46.682137
2,15756839,Hilton Riyadh Hotel & Residences,Booking.com,1128.75,1128.75,2025-01-02,2025-01-03,1626,4.5,NaN,24.785522,46.727880
3,24143026,Joudyan Hotel,MakeMyTrip,588.75,472.50,2025-01-02,2025-01-03,317,5.0,"['Free breakfast available', 'Free cancellation']",24.713552,46.675297
4,969150,"Holiday Inn Riyadh - al Qasr, an IHG hotel",Booking.com,633.75,633.75,2025-01-02,2025-01-03,1073,4.5,NaN,24.683914,46.688030
...,...,...,...,...,...,...,...,...,...,...,...,...
1084,24001761,Warwick Riyadh,Agoda.com,483.75,NaN,2025-01-25,2025-01-29,5,2.5,NaN,NaN,NaN
1085,8470987,Al Oroba Hotel,Agoda.com,131.25,131.25,2025-01-25,2025-01-29,2,2.5,NaN,NaN,NaN
1086,7789088,"Crowne Plaza Riyadh Rdc Hotel & Convention, An...",Booking.com,3258.75,3258.75,2025-01-25,2025-01-29,331,4.5,NaN,24.738811,46.635284
1087,2366709,The Ritz-Carlton Riyadh,Booking.com,6570.00,3.75,2025-01-25,2025-01-29,1045,4.5,NaN,NaN,NaN
1088,16865982,Le Méridien Riyadh,LeMeridien.com,2895.00,NaN,2025-01-25,2025-01-29,78,4.5,"['Free breakfast available', 'Free cancellatio...",NaN,NaN

In [3]:
Data.__len__()

1089

In [4]:
Data.isnull().sum()

hotel_id        0
hotel_name      0
SOURCE          0
price          60
base_price    249
checkIn         0
checkOut        0
count           0
rating          0
Info          758
latitude      438
longitude     438
dtype: int64

In [5]:
Data.dropna( axis=0, inplace=True)

In [6]:
Data.__len__()

255

In [7]:
Data.isnull().sum()

hotel_id      0
hotel_name    0
SOURCE        0
price         0
base_price    0
checkIn       0
checkOut      0
count         0
rating        0
Info          0
latitude      0
longitude     0
dtype: int64

In [8]:
Data.duplicated().sum()

np.int64(0)

In [9]:
Data.isna().sum()

hotel_id      0
hotel_name    0
SOURCE        0
price         0
base_price    0
checkIn       0
checkOut      0
count         0
rating        0
Info          0
latitude      0
longitude     0
dtype: int64

In [10]:
import os

desktop = os.path.expanduser("~/Desktop/cleaned_data.csv")
Data.to_csv(desktop, index=False)